<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766344524106-i2ggr86ktn62cv991333lot09ouj73eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766344524106-i2ggr86ktn62cv991333lot09ouj73eh</string>
	<key>API_KEY</key>
	<string>AIzaSyBiXTFTh4penLPz6PMoO9pEcfTrla9gWJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>766344524106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.senyor.timeKeeper</string>
	<key>PROJECT_ID</key>
	<string>time-keeper-535</string>
	<key>STORAGE_BUCKET</key>
	<string>time-keeper-535.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766344524106:ios:363e057075d02d4c5991b3</string>
</dict>
</plist>